@{
ViewData["Title"] = "Dashboard";
}

<div class="container mt-5">
    <h1>Vulnerable Web App</h1>
    <br>

    <div class="row">
        <div class="col-md-3">
            <a href="/Home/BruteForce" class="btn custom-button1 btn-block mb-3">Brute Force</a>
        </div>
        <div class="col-md-3">
            <a href="/Home/AuthorizationBypass" class="btn custom-button2 btn-block mb-3">Authorization Bypass</a>
        </div>
        <div class="col-md-3">
            <a href="/Home/SQLInjection" class="btn btn-primary btn-block mb-3">SQL Injection</a>
        </div>
        <div class="col-md-3">
            <a href="/Home/SQLInjectionBlind" class="btn btn-primary btn-block mb-3">SQL Injection (Blind)</a>
        </div>
        <div class="col-md-3">
            <a href="/Home/XSSDOM" class="btn btn-warning btn-block mb-3">Cross-Site Scripting (XSS) - Dom</a>
        </div>
        <div class="col-md-3">
            <a href="/Home/XSSStored" class="btn btn-warning btn-block mb-3">Cross-Site Scripting (XSS) - Stored</a>
        </div>
        <div class="col-md-3">
            <a href="/Home/XSSReflected" class="btn btn-warning btn-block mb-3">Cross-Site Scripting (XSS) -
                Reflected</a>
        </div>
        <div class="col-md-3">
            <a href="/Home/CSRF" class="btn btn-danger btn-block mb-3">Cross-Site Request Forgery (CSRF)</a>
        </div>
        <div class="col-md-3">
            <a href="/Home/FileUpload" class="btn btn-info btn-block mb-3">File Upload</a>
        </div>
        <div class="col-md-3">
            <a href="/Home/LocalFileInclusion" class="btn btn-info btn-block mb-3">Local File Inclusion (LFI)</a>
        </div>
        <div class="col-md-3">
            <a href="/Home/RemoteFileInclusion" class="btn btn-info btn-block mb-3">Remote File Inclusion (RFI)</a>
        </div>
        <div class="col-md-3">
            <a href="/Home/CommandInjection" class="btn btn-dark btn-block mb-3">Command Injection</a>
        </div>
        <div class="col-md-3">
            <a href="/Home/InsecureCAPTCHA" class="btn btn-secondary btn-block mb-3">Insecure CAPTCHA</a>
        </div>
        <div class="col-md-3">
            <a href="/Home/WeakSessionId" class="btn btn-success btn-block mb-3">Weak Session Ids</a>
        </div>
        <div class="col-md-3">
            <a href="/Home/JavaScript" class="btn custom-button3 btn-block mb-3">JavaScript</a>
        </div>
        <div class="col-md-3">
            <a href="/Home/OpenRedirect" class="btn custom-button4 btn-block mb-3">Open HTTP Redirect</a>
        </div>


    </div>
</div>