html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.custom-button1 {
  background-color: #ff5733; /* Your custom color */
  color: rgb(255, 255, 255);
}

.custom-button2 {
  background-color: #e319d2; /* Your custom color */
  color: rgb(255, 255, 255);
}

.custom-button3 {
  background-color: #d5d94c; /* Your custom color */
  color: rgb(255, 255, 255);
}

.custom-button4 {
  background-color: #ff0000; /* Your custom color */
  color: rgb(255, 255, 255);
}